.main {
  padding-top: 30vw;
  .card {
    background-color: white;
    width: 55%;
    margin: 22vw 6vw;
    padding: 7vw;
    border-radius: 5px;
    h1 {
      color: tomato;
      margin-bottom: 5vw;
      font-size: 2.5vw;
      font-weight: 500;
    }
    p {
      width: 100%;
      text-align: justify;
      font-size: 1.3vw;
      margin-bottom: 1vw;
    }
  }
  .card:nth-child(2) {
    right: 0px;
    margin-left: 38vw;
  }
}
