.main {
  // padding-top: 30vw;
  .main-logo {
    width: 40%;
    margin: 0 auto;
    padding-top: 10vw;
    padding-bottom: 35vw;
    img {
      display: block;
      width: 100%;
    }
  }
  .card {
    background-color: white;
    width: 53%;
    margin: 27vw 8vw;
    padding: 4.5vw;
    border-radius: 0.5vw;

    -webkit-box-shadow: 0px 0px 30px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 30px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 30px -5px rgba(0, 0, 0, 0.75);
    h1 {
      color: #f1502f;
      margin-bottom: 4vw;
      font-size: 3.5vw;
    }
    p {
      width: 100%;
      text-align: justify;
      font-size: 1.3vw;
      margin-bottom: 1vw;
    }
  }
  .card:nth-child(3) {
    right: 0px;
    margin-left: 38vw;
  }
  .card:hover {
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.75);
    transition: 0.5s ease-in-out;
  }
}

//Mobile

@media (min-width: 320px) and (max-width: 480px) {
  .main {
    .card {
      width: 75%;
      margin: 0 auto;
      padding: 0;
      border-radius: 2vw;
      margin-bottom: 30vw;
      h1 {
        color: #f1502f;
        font-size: 5vw;
        letter-spacing: 1vw;
        margin-bottom: 0;
        padding: 3vw 5vw 0 5vw;
      }
      p {
        font-size: 2.7vw;
        padding: 3vw 5vw;
        text-align: justify;
      }
    }
    .card:nth-child(3) {
      margin: 0 auto;
      margin-bottom: 30vw;
    }
  }
}
