.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: black;
  position: fixed;
  border-bottom: 0.4rem solid #f1502f;
  max-width: 1366px;
  padding: 0% 5%;
  z-index: 3;
  .logo {
    width: 10%;
    position: relative;
    padding-bottom: 3%;

    img {
      width: 100%;
      display: block;
      position: absolute;
    }
  }
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 130%;
    font-weight: bolder;
    color: lightgray;
    width: 45%;
    a {
      padding: 5%;
    }
    a:hover {
      color: #f1502f;
      cursor: pointer;
      transition: 0.5s;
    }
  }
  .navigation-icon {
    color: white;
    display: none;
  }
}

//Mobile

@media (min-width: 100px) and (max-width: 1365px) {
  .header {
    border-bottom: 1vw solid #f1502f;

    .logo {
      width: 22%;
      position: relative;
      padding-bottom: 6%;
      z-index: 2;
    }
    .navigation {
      flex-direction: column;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.95);
      width: 100vw;
      font-size: 5vw;
      top: 13.5vw;
      left: 0;
      transition: 0.5s ease-in-out;
      z-index: 1;
      padding-top: 5vw;
      padding-bottom: 100vw;
      margin-left: 100vw;
      // display: none;
      a {
        width: 90vw;
        text-align: end;
        padding: 10vw 20vw;
        letter-spacing: 1vw;
      }
    }
    .navigation-icon {
      display: block;
      padding: 2.5vw 4vw;
      i {
        font-size: 8vw;
        color: #f1502f;
      }
    }
  }
}
