.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: black;
  position: fixed;
  padding: 0vw 3vw;
  border-bottom: 0.5vw solid #f1502f;
  .logo {
    width: 13%;
    position: relative;
    padding: 3vw 0vw;
    img {
      width: 100%;
      display: block;
      position: absolute;
      top: 0.1vw;
    }
  }
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5vw;
    font-weight: bolder;
    color: lightgray;
    width: 45%;
    padding: 0vw 5vw;
    div {
      padding: 1vw;
    }
    div:hover {
      color: #f1502f;
      cursor: pointer;
      transition: 0.5s;
    }
  }
}
